Repository miguelangel-nubla/homeassistant-barcode-scanner: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, golangci-lint

go-fmt:
  name: go fmt
  entry: gofmt
  language: system
  args:
  - -w

go-mod-tidy:
  name: go mod tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint
  language: system
  args:
  - run
  pass_filenames: false

fix: prevent MQTT connection hanging with timeout and retry mechanism
  pkg/mqtt/client.go
Due: go-fmt, golangci-lint

Notes added by 'git notes add'
  c101ee55bcb10a1c52ea40ab081b1b8cf9739fbe
Due: none

fix: prevent duplicate HA state change events on barcode scan
  pkg/homeassistant/integration.go
Due: go-fmt, golangci-lint

Notes added by 'git notes add'
  5031aa364824d21aacaa2570faa9779181d928f0
Due: none

refactor: simplify instance_id handling with hostname fallback
  pkg/config/config.go
  pkg/homeassistant/integration.go
Due: go-fmt, golangci-lint

fix: correct YAML configuration format in CLI device listing
  pkg/cli/cli.go
Due: go-fmt, golangci-lint

Notes added by 'git notes add'
  08aa86116673b6076e367031734e9e21e47c0661
Due: none

feat: add interface handling for multi-interface HID devices
  pkg/app/handlers.go
  pkg/cli/cli.go
  pkg/config/config.go
  pkg/scanner/manager.go
  pkg/scanner/scanner.go
Due: go-fmt, golangci-lint

Notes added by 'git notes add'
  cc97973452b721a392e62954363e85d6f1b85c63
Due: none

docs: add template sensor example for combining multiple scanners
  README.md
Due: none

feat: add retain flag support for diagnostics and health entities
  pkg/homeassistant/integration.go
Due: go-fmt, golangci-lint

Notes added by 'git notes add'
  c3f43a3195bf698bce36ada0e102e7b1ec97e026
Due: none

Notes added by 'git notes add'
  3c1081f184aa36ed39d5d8fdf57661c21d9440c1
Due: none

Notes added by 'git notes add'
  6c572da9dd6a45b882c7703e3b3248645276f620
Due: none

Notes added by 'git notes add'
  af70b566917b9e685cc09721338b9932342cedcf
Due: none

Notes added by 'git notes add'
  0bbbe867186578945fd453d21b0cb46b40fd9552
Due: none

Notes added by 'git notes add'
  713d5ac596032a600b82dc19267dc74f0b6e3b34
Due: none

fix: address golangci-lint errcheck and gosec issues
  .golangci.yml
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/scanner/scanner.go
Due: go-fmt, golangci-lint

Force
  DOCKER.md
  README.md
  go.mod
Due: go-mod-tidy

fix: exclude gosec G117 false positive for Password field
  .golangci.yml
Due: none

chore: migrate golangci-lint configuration to v2 schema
  .golangci.yml
Due: none

build: update golangci-lint config and fix linter issues
  .golangci.yml
  pkg/homeassistant/integration.go
Due: go-fmt, golangci-lint

chore: Specify golangci-lint configuration version 2.
  .golangci.yml
Due: none

Notes added by 'git notes add'
  80e7fb91e43f1a06b959d0286b0d08cd85bbdae4
Due: none

Notes added by 'git notes add'
  7bbedee1622dea8839f49754f838036bf01b0aa7
Due: none

Notes added by 'git notes add'
  22cd7a86e42013c6db0de7c03fcf1278f60a158e
Due: none

refactor: reorganize test suites, remove unused layout loaders, and improve logging and test coverage across packages
  pkg/app/app.go
  pkg/app/handlers.go
  pkg/app/service_manager_test.go
  pkg/cli/cli_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/homeassistant/integration.go
  pkg/homeassistant/integration_test.go
  pkg/layouts/layouts.go
  pkg/layouts/layouts_test.go
  pkg/mqtt/client.go
  pkg/mqtt/client_test.go
  pkg/scanner/errors.go
  pkg/scanner/hid_processor.go
  pkg/scanner/hid_processor_test.go
  pkg/scanner/layout_loader.go
  pkg/scanner/layout_loader_test.go
  pkg/scanner/layouts/es.yaml
  pkg/scanner/layouts/us.yaml
  pkg/scanner/manager.go
  pkg/scanner/manager_test.go
  pkg/scanner/scanner.go
  pkg/scanner/scanner_test.go
Due: go-fmt, golangci-lint

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go.mod
  golangci-lint: any of: \.go$
